<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
